/*

    Global styling

*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: 'Noto Sans JP', sans-serif;
  color: var(--text-color)
}

html {
  --text-color: #12355D;
  --off-white: #F9FAFC;
  font-size: calc(60% + 0.8vmin);
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  background-color: var(--off-white);
}

main {
  max-width: 60rem;
  margin: 0 auto;
  padding: 3rem 0.8rem;
}

header {
  max-width: 60rem;
  margin: 0 auto;
  padding: 3rem 0.8rem;
  padding-bottom: 0;
}

footer {
  background-color: var(--text-color);
}

footer > * {
  max-width: 60rem;
  margin: 0 auto;
  padding: 3rem 0.8rem;
}

footer * {
  color: var(--off-white);
}

h1 {
  font-size: calc(2rem + 1vmin);
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 0.3em;
  margin-top: 2em;
}

h3 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0.4em;
}

p {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 1em;
}

/*

    Sections

*/
main > section {
  background-color: var(--off-white);
}

/*

    Tooltips

*/
.tooltip {
  padding: 1rem;
  position: fixed;
  background-color: var(--off-white);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
  pointer-events: none;
  font-weight: 300;
}

.tooltip > * {
  display: flex;
  align-items: center;
}

.tooltip > *:nth-child(odd) {
  justify-content: flex-end;
  text-align: right;
}

.tooltip > *:nth-child(even) {
  font-weight: bold;
}

/*

    Select

*/
select {
  border: none;
  border-radius: 0.2em;
  margin-bottom: 1em;
  padding: 0 0.5em;
  height: 3em;
  background-color: var(--white);
}
